a{
    text-decoration: none;
    color: #ffffff;
}

h1, h2{
    font-family: 'Slabo 27px', serif;
}

.heroName{
    position: relative;
    top: 30px;
}

.heroTitle{
    position: relative;
    top: 40px;
}

a:hover{
    color: #000000;
    text-decoration: none;
}

.heroimg1 {
    height: 60vh;
    width: auto;
    display: block;
    background-image: url("Assets/Images/heroHome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.bg1, .bg2{
    min-height: 400px;
}

.bg2{
    background-color: #f8f8f8;
}

.heroProfile{
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 130px;
    margin: auto;
    margin-top: 60px;
    background-image: url("Assets/Images/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    background-position: center;
}

.bio{
    margin: auto;
    margin: 100px 30px 60px;
}

.slick{
    height: auto;
    width: 70%;
    margin: 20px auto;
    background-color: #ffffff;
}

.slickContent{
    min-height: 100%;
}

.experience1{
    padding: 20px;
}

.pcclogo{
    width: 200px;
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
}

footer{
    color: white;
    background-color: #aaaaaa;
}

.socialLinks a {
    padding: 5px;
    font-size: 16pt;
}

.socialLinks a:first-of-type:hover{
    color: #e03c64
}

.socialLinks a:nth-of-type(2):hover{
    color: #3d5a99;
}

.socialLinks a:nth-of-type(3):hover{
    color: #0077b5;
    content: "test";
}

@media (min-width: 480px)
{
    .heroimg1 {
        height: 100vh;
    }
}