a{
    text-decoration: none;
    color: #ffffff;
}

h1, h2{
    font-family: 'Slabo 27px', serif;
}

.heroName{
    position: relative;
    top: 30px;
}

.heroTitle{
    position: relative;
    top: 40px;
}

a:hover{
    color: #000000;
    text-decoration: none;
}

.heroimg1 {
    height: 60vh;
    width: auto;
    display: block;
    background-image: url("Assets/Images/heroHome.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.bg1, .bg2{
    min-height: 400px;
}

.bg2{
    background-color: #f8f8f8;
}

.heroProfile{
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 130px;
    margin: auto;
    margin-top: 60px;
    background-image: url("Assets/Images/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    background-position: center;
}

nav{
    position: relative;
    top: 30px;
}

nav ul{
    padding: 0px;
    margin: 0px;
}

nav ul li, nav ul li i{
    display: inline-block;
    font-size: 14pt;
    font-family: 'Slabo 27px', serif;
    padding: 15px;
    color: black;
}

nav ul li i:hover{
    color: white;
}

.header-icon + .my-tooltip{
    visibility: hidden;
    position: relative;
    top: 5px;
    right: 0px;
    background: black;
    color: white;
    padding: 5px;
    font-size: 10pt;
    border-radius: 5px;
    font-family: 'Slabo 27px', serif;
}

.header-icon:hover + .my-tooltip{
    visibility: visible;
    
}

.my-tooltip:after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 42%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.bio-text{
    margin: auto;
    margin: 100px 30px 60px;
}

.section-head {
    padding: 20px;
}

.section-content{
    margin: 20px auto;
    background: white;
    border-radius: 15px;
    width: auto;
}

.slick{
    height: auto;
    width: 70%;
    margin: 20px auto;
    background-color: #ffffff;
}

.slickContent{
    min-height: 100%;
}

.experience1{
    padding: 20px;
}

.pcclogo{
    width: 200px;
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
}

.card{
    margin: 10px;
    max-height: 300px;
    overflow: hidden;
}

.card .card-body{
    top: 300px;
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.7);
    transition: 0.5s ease all;
    overflow: auto;
}

.card:hover .card-body{
    top: 0px;
    transition: 0.5s ease all;
}

.card-button{
    position: relative;
    top: 5%;
}

.card-button .btn{
    margin: 3px;
}

footer{
    color: white;
    background-color: #aaaaaa;
}

.footer-block {
    height: 85px;
    margin-top: 30px;
}

.socialLinks a {
    padding: 5px;
    font-size: 20pt;
}

.socialLinks a:first-of-type:hover{
    color: #e03c64
}

.socialLinks a:nth-of-type(2):hover{
    color: #3d5a99;
}

.socialLinks a:nth-of-type(3):hover{
    color: #0077b5;
    content: "test";
}

@media (min-width: 480px)
{
    .heroimg1 {
        height: 100vh;
    }
}